<h1>Hello, <%= current_user.first_name%>, <%= current_user.id%></h1>



<%if user_signed_in?%>
    <% if @event.creator.id == current_user.id%>
        <%= link_to "Delete article", event_path(@event), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                    }, class:"btn btn-danger" %>
    <%else%>
        <% event = @event%>
        <%= event.id%>
        <%= button_to 'Attend',  events_users_path(event), data: { turbo_method: :post }%>

    <%end%>
<%end%>